apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-ts-app
  namespace: default
  labels:
    app: demo-ts-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: demo-ts-app
  template:
    metadata:
      labels:
        app: demo-ts-app
    spec:
      containers:
      - name: demo-ts-app
        image: dttestacr.azurecr.io/demo-ts-app:latest
        ports:
        - containerPort: 3000
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 20
        resources:
          limits:
            memory: "256Mi"
            cpu: "500m"
          requests:
            memory: "128Mi"
            cpu: "250m"